html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .insights-container {
    height: calc(100vh - 120px); /* Adjust value */
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  